<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CodeGladitors</title>
    <link rel="stylesheet" href="css/stylesBootstrap.css" />
    <link rel="stylesheet" href="css/tailwindOutput.css" />
    <link rel="stylesheet" href="css/fontawesome.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
      integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="flex items-center justify-center h-[100vh]">
    <div class="flex items-center justify-center flex-wrap w-[80vw] gap-5">
    <% for (let glacier of allGlacierData) {%>
      <a class="glacier-name px-6 py-3 font-bold rounded-full bg-black text-white inline-block" href="/glacier/<%= glacier._id %>"><%= glacier.glacialName %></a>
    <%}%>
    </div>
  </body>
</html>
